body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../主页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:30px;
    top:40px;
    width:600px;
    height:400px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:606px;
    height:406px;
}

.u1 {
    position:absolute;
    left:2px;
    top:192px;
    width:596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../主页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:30px;
    top:40px;
    width:100px;
    height:400px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:406px;
}

.u3 {
    position:absolute;
    left:2px;
    top:192px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../主页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:130px;
    top:40px;
    width:140px;
    height:400px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:406px;
}

.u5 {
    position:absolute;
    left:2px;
    top:192px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Titlebar_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:30px;
    top:40px;
    width:600px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:606px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:7px;
    width:596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Titlebar_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:40px;
    top:45px;
    width:20px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:70px;
    top:47px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Titlebar_files/u8_normal.png');
}

.u11_container {
    position:absolute;
    left:551px;
    top:45px;
    width:20px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Titlebar_files/u8_normal.png');
}

.u13_container {
    position:absolute;
    left:574px;
    top:45px;
    width:20px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Titlebar_files/u8_normal.png');
}

.u15_container {
    position:absolute;
    left:602px;
    top:45px;
    width:20px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:438px;
    top:47px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:488px;
    top:47px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Toolbar_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:30px;
    top:70px;
    width:600px;
    height:40px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:606px;
    height:46px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:40px;
    top:78px;
    width:136px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:196px;
    top:78px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:316px;
    top:78px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:434px;
    top:78px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_normal {
    background-image: url('../Statusbar_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:30px;
    top:410px;
    width:600px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:606px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Statusbar_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:360px;
    top:410px;
    width:60px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Statusbar_files/u29_normal.png');
}

.u31_container {
    position:absolute;
    left:420px;
    top:410px;
    width:60px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Statusbar_files/u29_normal.png');
}

.u33_container {
    position:absolute;
    left:480px;
    top:410px;
    width:60px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../SearchBar_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:130px;
    top:110px;
    width:140px;
    height:30px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u37 {
    position:absolute;
    left:2px;
    top:7px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../SearchBar_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:135px;
    top:112px;
    width:25px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../NotebookTree_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:30px;
    top:110px;
    width:100px;
    height:200px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:206px;
}

.u42 {
    position:absolute;
    left:2px;
    top:92px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../NotebookTree_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:30px;
    top:110px;
    width:100px;
    height:30px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u44 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../NotebookTree_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:30px;
    top:140px;
    width:100px;
    height:170px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:176px;
}

.u46 {
    position:absolute;
    left:2px;
    top:77px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:130px;
    top:139px;
    width:140px;
    height:270px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50_normal {
    background-image: url('../NoteTitlebar_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:270px;
    top:110px;
    width:360px;
    height:30px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:36px;
}

.u51 {
    position:absolute;
    left:2px;
    top:7px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../NoteTitlebar_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:580px;
    top:110px;
    width:50px;
    height:30px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:30px;
}

.u53 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../NoteAttrbar_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:270px;
    top:140px;
    width:360px;
    height:70px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:76px;
}

.u56 {
    position:absolute;
    left:2px;
    top:27px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:300px;
    top:179px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:300px;
    top:153px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../NoteEditor_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:270px;
    top:210px;
    width:360px;
    height:200px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:206px;
}

.u61 {
    position:absolute;
    left:2px;
    top:92px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../NoteEditor_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:360px;
    top:270px;
    width:180px;
    height:80px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u63 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../广告_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:30px;
    top:330px;
    width:100px;
    height:60px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u66 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

